<!-- <div class="container">
  <div class="row main main-custom"> -->
    <div class="col-md-12">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Basic search...." [(ngModel)] = "titleSearch" />
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
              <button type="button" class="btn btn-default dropdown-toggle btn-custom" data-toggle="dropdown" aria-expanded="false">
                <!-- <span class="caret"></span> -->
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="filter">Filter by</label>
                    <select class="form-control">
                      <option value="0" selected>All Snippets</option>
                      <option value="1">Featured</option>
                      <option value="2">Most popular</option>
                      <option value="3">Top rated</option>
                      <option value="4">Most commented</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="contain">Author</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="contain">Contains the words</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Advance search
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <button type="button" [disabled]="!titleSearch" (click)="searchTitle()" class="btn btn-primary">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <h6>&lsquo;</h6>
    <div class="col-sm-6 col-md-4" *ngFor="let post of posts">
      <div class="thumbnail">
          <img src="../../../assets/img/img1.jpg" alt="...">
          <div class="caption">
            <h3>{{post.title}}</h3>
            <p>{{post.description}}</p>
            <p>
              <a class="btn btn-primary hover-point" (click)="link_rout('/maps')" role="button">Xem bản đồ</a>
              <button type="button" class="btn btn-default pull-right" (click)="detail(post)" data-toggle="modal" data-target="#DetailModal">Xem chi tiết
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              </button>
            </p>
          </div>
      </div>
    </div>
  <!-- </div>
</div> -->


<div id="DetailModal1" class="modal fade" role="dialog">
  <div class="container">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Post Details</h4>
      </div>
      <div class="modal-body">
          <app-room-details post="selectedPost" user="user"></app-room-details>
      </div>
    </div>
  </div>
</div>
