<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed left" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Trình đơn</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand hover-point" (click)="link_rout('/')">ShareRoom</a>
          </div>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li>
                <a class="hover-point" (click)="link_rout('/')">Home</a>
              </li>
              <li>
                <a class="hover-point" (click)="link_rout('/maps')">Maps</a>
              </li>
              <li>
                <a class="hover-point" (click)="link_rout('/post')">New post</a>
              </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right" *ngIf="!access_name">
              <li>
                <a class="hover-point" (click)="link_rout('/signup')">
                  <span class="glyphicon glyphicon-user"></span> Sign Up</a>
              </li>
              <li>
                <a>
                  <span class="glyphicon glyphicon-log-in"></span>
                  <button type="button" class="btn-none-border" data-toggle="modal" data-target="#LoginModal">Login</button>
                </a>
              </li>
              </ul>
              <ul class="nav navbar-nav navbar-right" *ngIf="access_name">
              <li>
                <a>Hi!{{access_name}}</a>
              </li>
              <li>
                <a (click)="link_rout('/profile')">
                  <span class="glyphicon glyphicon-user"></span> Profile</a>
              </li>
              <li>
                <a>
                  <span class="glyphicon glyphicon-log-out"></span>
                  <button type="button" class="btn-none-border" (click)="logout()" data-toggle="modal">Logout</button>
                </a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a>
                    <img (click)="setLanguage('eng')" src="../../assets/icon/eng.png" class="img-circle hover-point" alt="English"> </a>               
            </li>
            <li>
              <a>
              <img (click)="setLanguage('vni')" src="../../assets/icon/vni.png" class="img-circle hover-point" alt="Tiếng việt">              
              </a>
            </li>
          </ul>
      </div>
    </div>
  </nav>

<div id="LoginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login form</h4>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>


