<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed left" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Trình đơn</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
        <a class="navbar-brand hover-point" (click)="link_rout('/')">{{ "title" | translate }}</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li (click)="listClick($event)" *ngFor="let item of menu">
          <a class="hover-point" (click)="link_rout(item.link)">{{item.text| translate}}</a>
        </li>
        <li (click)="listClick($event)" *ngFor="let item of menu_host">
            <a class="hover-point" (click)="link_rout(item.link)">{{item.text| translate}}</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!access_name">
        <li>
          <a>
            <span class="glyphicon glyphicon-user"></span>
            <button type="button" class="btn-none-border" data-toggle="modal" data-target="#SignupModal">{{ "sign up" | translate }}</button>
          </a>
          </li>
        <li>
          <a>
            <span class="glyphicon glyphicon-log-in"></span>
            <button type="button" class="btn-none-border" data-toggle="modal" data-target="#LoginModal">{{ "login" | translate }}</button>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="access_name">
        <li>
          <a>Hi!{{access_name}}</a>
        </li>
        <li>
          <a class="hover-point" (click)="link_rout('/profile')">
            <span class="glyphicon glyphicon-user"></span> {{ "profile" | translate }}</a>
        </li>
        <li>
          <a>
            <span class="glyphicon glyphicon-log-out"></span>
            <button type="button" class="btn-none-border hover-point" (click)="logout()" data-toggle="modal">{{ "logout" | translate }}</button>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let item of languages">
          <a class="hover-point" (click)="setLanguage(item.code)">
            <img  src="{{item.icon}}" class="img-circle hover-point" alt="{{item.name}}"> {{item.name}}
          </a>
        </li>
        <!-- <li>
          <a class="hover-point" (click)="setLanguage('vi')">
            <img  src="../../assets/icon/vni.png" class="img-circle hover-point" alt="Tiếng việt"> Việt Nam
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

  <app-login></app-login>
  <app-register></app-register>

