<div class="container">
  <div class="col-md-12">
    <div class="row main">
      <div class="main-login main-center">
        <h3 class="center">{{ "create post" | translate }}</h3>
        <form (ngSubmit)="save()" #newPostForm="ngForm">
          <div class="form-group">
            <label for="name" class="cols-md-2 control-label">Title</label>
            <div class="cols-md-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user fa" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" name="title" placeholder="Enter your title" required [(ngModel)]="post.title" #title="ngModel">
                <div [hidden]="title.valid || title.pristine" class="error">
                  {{ "title not empty" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="cols-md-2 control-label">Description</label>
            <div class="cols-md-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-commenting" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" name="description" placeholder="Enter your description" required [(ngModel)]="post.description" #description="ngModel">
                <div [hidden]="description.valid || description.pristine" class="error">
                  {{ "description not empty" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="padding:0px">
              <div class="form-group">
                  <label for="name" class="cols-md-2 control-label">acreage</label>
                  <div class="cols-md-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-map-o fa" aria-hidden="true"></i>
                      </span>
                      <input type="number" class="form-control" name="acreage" placeholder="Enter your acreage" required [(ngModel)]="post.acreage" #acreage="ngModel">
                      <div [hidden]="acreage.valid || acreage.pristine" class="error">
                        {{ "acreage not empty" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-md-6" style="padding:0px">
              <div class="form-group">
                  <label for="name" class="cols-md-2 control-label">price</label>
                  <div class="cols-md-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                      </span>
                      <input type="number" class="form-control" name="price" placeholder="Enter your price" required [(ngModel)]="post.price" #price="ngModel">
                      <div [hidden]="price.valid || price.pristine" class="error">
                        {{ "price not empty" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          
          <div class="form-group">
            <label for="name" class="col-md-12  control-label" style="padding:0px">Address</label>
            <div class="col-md-10" style="padding:0px">
              <div [hidden]="submitted">
                <form (ngSubmit)="onSubmit()" #locForm="ngForm">
                  <div class="col-md-12" style="padding:0px">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                      </span>
                      <div class="form-group">
                        <input type="text" class="form-control" value="{{post.address}}" id="locInput" name="locInput" ([ngModel])="locInput"
                          #search [formControl]="searchControl" required>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-2" style="padding:0px">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-street-view" aria-hidden="true"></i>
                </span>
                <button (click)="mylocation()" class="form-control">My location</button>
              </div>
            </div>
            <h6>Tọa độ: Lat {{post.latitude}}, Long {{post.longitude}}</h6>
            <sebm-google-map [latitude]="post.latitude" [longitude]="post.longitude" [scrollwheel]="false" [zoom]="zoom">
              <sebm-google-map-marker [latitude]="post.latitude" [longitude]="post.longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></sebm-google-map-marker>
            </sebm-google-map>
          </div>
          <div class="clearfix center-block" align="center">
            <button type="button" (click)="clearPost()" class="btn btn-danger">Clear</button>
            <button type="submit" [disabled]="!newPostForm.form.valid" class="btn btn-success">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
